@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body{
    font-family: "Syne", sans-serif;
    text-align: center;
}

button{
    padding: 10px; 
    border-radius: 10px;
    margin-block: 20px;
    border: none;
    background-color: #e0e0e0;
    box-shadow: 4px 4px 4px rgba(6, 6, 6, 0.25), -4px -4px 4px rgba(198, 198, 198, 0.25);
}

